<div class="flex flex-auto">

    <form
        class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto"
        [formGroup]="taskForm">

        <!-- Header -->
        <div class="flex items-center justify-between -mt-3 -ml-4">

            <!-- Mark as ... button -->
            <button
                class="pr-4 pl-3.5"
                mat-button
                (click)="toggleCompleted()">

                <!-- Mark as complete -->
                <ng-container *ngIf="!taskForm.get('completed').value">
                    <div class="flex items-center justify-center">
                        <mat-icon [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                        <span class="ml-2 font-semibold">MARK AS PREPARED</span>
                    </div>
                   
                </ng-container>

                <!-- Mark as incomplete -->
                <ng-container *ngIf="taskForm.get('completed').value">
                    <div class="flex items-center justify-center">
                        <mat-icon
                            class="text-primary"
                            [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                        <span class="ml-2 font-semibold">MARK AS INCOMPLETE</span>
                    </div>

                                   
                </ng-container>
            </button>
            <div class="border-2 rounded-lg text-center font-semibold p-2 border-green-500 text-green-600 border-opacity-75"> ACCEPTED</div>
                        
            <div class="flex items-center">
                <!-- More menu -->
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="moreMenu">
                    <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button
                        mat-menu-item
                        (click)="deleteTask()">
                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        <span>Cancel order</span>
                    </button>
                </mat-menu>

                <!-- Close button -->
                <button
                    mat-icon-button
                    [routerLink]="['../']">
                    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>

        </div>

        <mat-divider class="mt-2 mb-2"></mat-divider>
        <div class="flex flex-row gap-3 flex-col">
            <div class="w-1/3">
                <label class="text-lg font-semibold text-gray-400 mr-2">Order ID</label>
            </div>
            <div class="">
                <label class="text-lg ">44445-55559</label>
            </div>
            <mat-divider class="mt-1 mb-1"></mat-divider>
            <div>
                <label class="text-lg text-gray-400 font-semibold mr-2">Order date</label>
            </div>
            <div>
                <label class="text-lg">17/02/2021 14:08 AM</label>
            </div>
            <mat-divider class="mt-1 mb-1"></mat-divider>
            <div>
                <label class="text-lg text-gray-400 font-semibold mr-2">Customer</label>
            </div>
            <div>
                <label class="text-lg">Alaa Assali</label> <br>
                <label class="text-lg">+216 97 629 719</label> <br>
                <label class="text-lg">Rue de marseille apt38 cité ezzouhour, Kasserine</label>
            </div>
            <mat-divider class="mt-1 mb-1"></mat-divider>
            <div>
                <label class="text-lg text-gray-400 font-semibold mr-2">Items</label>
            </div>
            <div>
                <button class="bg-blue-100 rounded-lg  p-2">
                    <label class="text-lg">show details ></label> 
                </button>
                
            
            </div>
            <mat-divider class="mt-1 mb-1"></mat-divider>
            <div>
                <label class="text-lg text-gray-400 font-semibold mr-2">Order notes</label>
            </div>
            <div>
               
                    <label class="text-lg"> Don't add cheese to the burger </label> 
               
                
            
            </div>
             
        </div>

      
     

    </form>

</div>
