<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer
            class="w-full sm:w-128 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex flex-col flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Order management</div>
                       
                    </div>
                    <!-- Actions -->
                    <div class="mt-2  space-x-8 w-max sm:mt-0">
                                       
                        <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>From - To</mat-label>
                            <mat-date-range-input
                              [formGroup]="campaignOne"
                              [rangePicker]="campaignOnePicker"
                              [comparisonStart]="campaignTwo.value.start"
                              [comparisonEnd]="campaignTwo.value.end">
                              <input matStartDate placeholder="Start date" formControlName="start">
                              <input matEndDate placeholder="End date" formControlName="end">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                          </mat-form-field>
                        
                    </div>

                </div>
                <div class="mt-2 pl-6 space-x-8 w-max sm:mt-0">

                          
                    <mat-form-field appearance="fill">
                        <mat-label>Filter</mat-label>
                        <mat-select >
                          <mat-option checked value="option1">All</mat-option>
                          <mat-option value="option2" >Accepted</mat-option>
                          <mat-option value="option3">On delivery</mat-option>
                          <mat-option value="option4">Delivered</mat-option>
                          <mat-option value="option4">Canceled</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Type</mat-label>
                        <mat-select >
                            <mat-option checked value="option1">All</mat-option>
                          <mat-option checked value="option1">Delivery</mat-option>
                          <mat-option value="option2" >Takeaway</mat-option>
                      
                        </mat-select>
                      </mat-form-field>
              
                </div>
                <!-- Tasks list -->
                <ng-container >
                    <div
                        class="divide-y"
                        cdkDropList
                       
                        (cdkDropListDropped)="dropped($event)">

                        <!-- Task -->
                        <ng-container >
                            <div
                                id="0fcece82-1691-4b98-a9b9-b63218f9deef"
                                class="group w-full select-none "
                                [ngClass]="{'h-12 text-gray-800 text-lg font-semibold': true,
                                            'h-16': true,
                                            'text-hint': true}"
                              
                            >

                             

                                <!-- Task content -->
                                <div class="relative flex items-center h-full pl-10">

                                    

                                 

                                    <!-- Complete task button -->
                                  

                                    <!-- Task link -->
                                    <a
                                        class="flex flex-auto items-center min-w-0 h-full pr-7"
                                       >
                                        <!-- Title & Placeholder -->
                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>Order ID</span>
                                            </ng-container>
                                         
                                        </div>

                                        <div class="flex-auto mr-10 truncate">
                                            <ng-container >
                                                <span>Order Date</span>
                                            </ng-container>
                                      
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>Customer</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>Amount</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                
                                                <span>Status</span>
                                            </ng-container>
                                          
                                        </div>
                                        <!-- Priority -->
                                      
                                        <!-- Due date -->
                                      
                                    </a>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container >
                            <div
                                id="0fcece82-1691-4b98-a9b9-b63218f9deef"
                                class="group w-full select-none hover:bg-gray-100 dark:hover:bg-hover"
                                [ngClass]="{'h-12 text-lg font-semibold dark:bg-transparent': true,
                                            'h-16': true,
                                            'text-hint': true}"
                              
                            >

                             

                                <!-- Task content -->
                                <div class="relative flex items-center h-full pl-10">

                                    

                                 

                                    <!-- Complete task button -->
                                  

                                    <!-- Task link -->
                                    <a
                                        class="flex flex-auto items-center min-w-0 h-full pr-7"
                                       routerLink="0fcece82-1691-4b98-a9b9-b63218f9deef">
                                        <!-- Title & Placeholder -->
                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>#1233456</span>
                                            </ng-container>
                                         
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>12/1120 09:21 AM</span>
                                            </ng-container>
                                      
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>Ali Selmi</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>18 €</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                
                                                <div class="border-2 rounded-lg text-center border-red-500 text-red-500 border-opacity-75"> Canceled</div>
                                               
                                            </ng-container>
                                          
                                        </div>
                                        <!-- Priority -->
                                      
                                        <!-- Due date -->
                                      
                                    </a>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container >
                            <div
                                id="0fcece82-1691-4b98-a9b9-b63218f9deef"
                                class="group w-full select-none hover:bg-gray-100 dark:hover:bg-hover"
                                [ngClass]="{'h-12 text-lg font-semibold dark:bg-transparent': true,
                                            'h-16': true,
                                            'text-hint': true}"
                              
                            >

                             

                                <!-- Task content -->
                                <div class="relative flex items-center h-full pl-10">

                                    

                                 

                                    <!-- Complete task button -->
                                  

                                    <!-- Task link -->
                                    <a
                                        class="flex flex-auto items-center min-w-0 h-full pr-7"
                                       routerLink="0fcece82-1691-4b98-a9b9-b63218f9deef">
                                        <!-- Title & Placeholder -->
                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>#1233456</span>
                                            </ng-container>
                                         
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>12/1120 09:21 AM</span>
                                            </ng-container>
                                      
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>Ali Selmi</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>24 €</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                
                                                <div class="border-2 rounded-lg text-center border-green-500 text-green-500 border-opacity-75"> Delivered</div>
                                               
                                            </ng-container>
                                          
                                        </div>
                                        <!-- Priority -->
                                      
                                        <!-- Due date -->
                                      
                                    </a>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container >
                            <div
                                id="0fcece82-1691-4b98-a9b9-b63218f9deef"
                                class="group w-full select-none hover:bg-gray-100 dark:hover:bg-hover"
                                [ngClass]="{'h-12 text-lg font-semibold dark:bg-transparent': true,
                                            'h-16': true,
                                            'text-hint': true}"
                              
                            >

                             

                                <!-- Task content -->
                                <div class="relative flex items-center h-full pl-10">

                                    

                                 

                                    <!-- Complete task button -->
                                  

                                    <!-- Task link -->
                                    <a
                                        class="flex flex-auto items-center min-w-0 h-full pr-7"
                                       routerLink="0fcece82-1691-4b98-a9b9-b63218f9deef">
                                        <!-- Title & Placeholder -->
                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>#1233456</span>
                                            </ng-container>
                                         
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>12/1120 09:21 AM</span>
                                            </ng-container>
                                      
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>Ali Selmi</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>24 €</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                
                                                <div class="border-2 rounded-lg text-center border-primary-500 text-primary-500 border-opacity-75"> Accepted</div>
                                               
                                            </ng-container>
                                          
                                        </div>
                                        <!-- Priority -->
                                      
                                        <!-- Due date -->
                                      
                                    </a>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container >
                            <div
                                id="0fcece82-1691-4b98-a9b9-b63218f9deef"
                                class="group w-full select-none hover:bg-gray-100 dark:hover:bg-hover"
                                [ngClass]="{'h-12 text-lg font-semibold dark:bg-transparent': true,
                                            'h-16': true,
                                            'text-hint': true}"
                              
                            >

                             

                                <!-- Task content -->
                                <div class="relative flex items-center h-full pl-10">

                                    

                                 

                                    <!-- Complete task button -->
                                  

                                    <!-- Task link -->
                                    <a
                                        class="flex flex-auto items-center min-w-0 h-full pr-7"
                                       routerLink="0fcece82-1691-4b98-a9b9-b63218f9deef">
                                        <!-- Title & Placeholder -->
                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>#1233456</span>
                                            </ng-container>
                                         
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>12/1120 09:21 AM</span>
                                            </ng-container>
                                      
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>Ali Selmi</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>24 €</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                
                                                <div class="border-2 rounded-lg text-center border-gray-800 text-gray-800 border-opacity-75"> On delivery</div>
                                               
                                            </ng-container>
                                          
                                        </div>
                                        <!-- Priority -->
                                      
                                        <!-- Due date -->
                                      
                                    </a>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container >
                            <div
                                id="0fcece82-1691-4b98-a9b9-b63218f9deef"
                                class="group w-full select-none hover:bg-gray-100 dark:hover:bg-hover"
                                [ngClass]="{'h-12 text-lg font-semibold dark:bg-transparent': true,
                                            'h-16': true,
                                            'text-hint': true}"
                              
                            >

                             

                                <!-- Task content -->
                                <div class="relative flex items-center h-full pl-10">

                                    

                                 

                                    <!-- Complete task button -->
                                  

                                    <!-- Task link -->
                                    <a
                                        class="flex flex-auto items-center min-w-0 h-full pr-7"
                                       routerLink="0fcece82-1691-4b98-a9b9-b63218f9deef">
                                        <!-- Title & Placeholder -->
                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>#1233456</span>
                                            </ng-container>
                                         
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>12/1120 09:21 AM</span>
                                            </ng-container>
                                      
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>Ali Selmi</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <span>24 €</span>
                                            </ng-container>
                                          
                                        </div>

                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                
                                                <div class="border-2 rounded-lg text-center border-yellow-700 text-yellow-700 border-opacity-75"> Prepared</div>
                                               
                                            </ng-container>
                                          
                                        </div>
                                        <!-- Priority -->
                                      
                                        <!-- Due date -->
                                      
                                    </a>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                </ng-container>

                <ng-template #noTasks>
                   
                </ng-template>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
