<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer
            class="w-full sm:w-128 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex flex-col flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Order management</div>
                       
                    </div>
                    <!-- Actions -->
                    <div class="mt-2  space-x-8 w-max sm:mt-0">                    
            
                          <mat-form-field appearance="fill">
                            <mat-label>Type</mat-label>
                            <mat-select value="all">
                                <mat-option (click)="allTypes()"   value="all">All</mat-option>
                              <mat-option (click)="showDelivery()"  value="delivery">Delivery</mat-option>
                              <mat-option (click)="showTakeaway()" value="takeaway" >Takeaway</mat-option>
                          
                            </mat-select>
                          </mat-form-field>
                        
                    </div>

                </div>
             
                <!-- Tasks list -->
                <ng-container >
                    <div class="ml-2" style='border-bottom: 2px solid #eaeaea'>
                        <ul class='flex cursor-pointer space-x-2 overflow-x-auto'>
                          <li (click)="showAll()" *ngIf="show.all" class='py-2 px-6 bg-gray-400 rounded-t-lg'>All</li>
                          <li  (click)="showAll()"  *ngIf="!show.all" class='py-2 px-6 bg-gray-200 rounded-t-lg'>All</li>
                          <li (click)="showPending()"  *ngIf="!show.pending" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-200'>PENDING</li>
                          <li (click)="showPending()"  *ngIf="show.pending" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-400'>PENDING</li>
                          <li  (click)="showAccepted()" *ngIf="!show.accepted" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-200'>ACCEPTED</li>
                          <li  (click)="showAccepted()" *ngIf="show.accepted" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-400'>ACCEPTED</li>
                          <li  (click)="showRejected()" *ngIf="!show.rejected" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-200'>REJECTED</li>
                          <li  (click)="showRejected()" *ngIf="show.rejected" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-400'>REJECTED</li>
                          <li (click)="showPrepared()"  *ngIf="!show.prepared" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-200'>PREPARED</li>
                          <li  (click)="showPrepared()" *ngIf="show.prepared" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-400'>PREPARED</li>
                          <li (click)="showPicked()"  *ngIf="!show.picked" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-200'>PICKED</li>
                          <li  (click)="showPicked()" *ngIf="show.picked" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-400'>PICKED</li>
                          <li  (click)="showDelivered()" *ngIf="!show.delivered" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-200'>DELIVERED</li>
                          <li  (click)="showDelivered()" *ngIf="show.delivered" class='py-2 px-6 bg-white rounded-t-lg  bg-gray-400'>DELIVERED</li>
                        </ul>
                    </div>

                    
                </ng-container>
                <div class="flex flex-auto overflow-hidden">

                    <!-- Products list -->
                    <div  class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <ng-container >
                            <ng-container>
                                <div class="grid text-lg font-semibold">
                                    <!-- Header -->
                                    <div
                                        class="grid-cols-2 md:grid-cols-6   z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                        matSort
                                        matSortDisableClear>
                                        <div>
                                            Order ID
                                        </div>
                                        <div
                                        class="hidden md:block"
                                       >
                                        Type
                                    </div>
                                        <div
                                            class="hidden md:block"
                                           >
                                            Date
                                        </div>
                                        <div  class="hidden md:block">Client</div>
                                        <div class="hidden md:block"
                                      
                                         >
                                            Amount
                                        </div>
                                        <div
                                           
                                       >
                                            Status
                                        </div>
                                   
                                    
                                    </div>
                                    <!-- Rows -->

                                    <ng-container >
                                        <ng-container  >
                                            <div *ngFor="let order of orders" [routerLink]="order.id"  class="grid-cols-2 md:grid-cols-6 grid items-center gap-4 py-3 px-6 hover:bg-gray-100 md:px-8 border-b">
            
                                                <!-- Image -->
                                                <div class="flex items-center">
                                                    
                                                        {{order.orderId}}
                                                   
                                                </div>
            
                                          <!-- Name -->
                                          <div class="hidden md:block">
                                            {{order.orderType}}
                                        </div>
                                                     <!-- Name -->
                                                     <div class="hidden md:block">
                                                        {{ order.date | date:'short' }}
                                                    </div>
                                                <!-- Name -->
                                                <div class="hidden md:block">
                                                   {{order.client.firstName}} {{order.client.lastName}}
                                                </div>
            
                                                <!-- Price -->
                                                <div class="hidden md:block" >
                                                    {{order.totalPrice}} €
                                                </div>
            
                                                <!-- Status -->
                                                <div class="grid grid-cols-2 gap-0">
                                                    <div>
                                                        <img *ngIf="order.delivery && order.status!='DELIVERED'" class="h-8 w-8" src="https://www.clipartmax.com/png/full/67-676762_pizza-u0130skender-kebap-kebab-take-out-delivery-logo-giao-h%C3%A0ng.png">
                                                    </div>

                                                   
                                                    <div *ngIf="order.status=='ORDERED'" class=" text-center border-gray-500 text-yellow-500 border-opacity-75"> PENDING</div>
                                                    <div *ngIf="order.status=='ACCEPTED'" class=" text-center border-blue-500 text-blue-500 border-opacity-75"> ACCEPTED</div>
                                                    <div *ngIf="order.status=='REJECTED'" class=" text-center border-red-500 text-red-500 border-opacity-75"> REJECTED</div>
                                                    <div *ngIf="order.status=='PREPARED'" class=" text-center border-yellow-500 text-gray-900 border-opacity-75"> PREPARED</div>
                                                    <div *ngIf="order.status=='DELIVERED'" class=" text-center border-green-500 text-green-500 border-opacity-75"> DELIVERED</div>
                                                    <div *ngIf="order.status=='PICKED'" class=" text-center border-green-500 text-purple-500 border-opacity-75"> PICKED</div>
                                                
                                                </div>
            
                                           
                                           
                                            </div>
                                            <div class="grid">
                                              
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                    
                                </div>
            
                         
            
                            </ng-container>
                        </ng-container>
            
            
            
                    </div>
            
                    
            
                </div>

            </div>

           

        </mat-drawer-content>

    </mat-drawer-container>

</div>
